<footer>
    <div class="article-footer">
        <h5>Mapa de la Web</h5>
        <p>Inicio</p>
        <p>Servicios</p>
        <p>Fotos</p>
        <p>Equipo</p>
        <p>Reservas</p>
        <p>Contacta</p>
        <p>Aviso legal y Política de Privacidad</p>
    </div>
    <div class="article-footer">
        <h5>Redes Sociales</h5>
        <p>Instagram</p>
        <p>Facebook</p>
    </div>
    <div class="article-footer">
        <h5>Dirección</h5>
        <p>TEL: 932 503 610</p>
        <p>E-mail: {{email}}</p>
        <p>Dirección: Av. Lluis Companys, 9</p>
        <p>Sant Joan Despí</p>
        <p>Barcelona</p>
    </div>
</footer>
<div class="copyright">
    <span>©Copyright 2024 by YOLANDA RODRIGUEZ BEAUTY STUDIO </span>
</div>
