<div id="body-content">
    <section>
        <article>
            <img src="../../assets/images/foto-portada.webp" alt="" id="foto-portada">
        </article>
        <article>
            <h1>YOLANDA RODRIGUEZ<br><span>BEAUTY STUDIO</span></h1>
            <div id="content-p">
                <p>Tu centro de estética en Sant Joan Despí.</p>
                <p>Estamos especializados en todo tipo de 
                    tratamientos faciales, corporales, manicuras, pedicuras y depilaciones. </p>
                <p>Tratamientos de belleza tanto para mujer como para hombre. </p>
                <p>Trabajamos con algunas de las más prestigiosas marcas de cosmética.</p>
            </div>
            <div id="content-button">
                <button id="button-cita-online">PEDIR CITA ONLINE</button>
            </div>
        </article>
    </section>
</div>